version: '3.9'

services:
  app:
    build: .
    container_name: python_app
    command: python main.py
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1